.production { background-color: #44BB44; }
.terrain { background-color: #FF4F3F; }
.copil { background-color: #88BBFF; }
.conges {
    background-color: black;
    color: white;
}

#week-table th, #week-table td {
    min-width: 80px;
    border: solid #CCCCCC 1px;  
}

#week-table tr:first-child th {
    border: 0px;
}

#addWorkerForm {
    float: right;
    margin-top: 30px;
    margin-right: 73px;
}

#person_week {
    float: right;
    margin: 0px 25px;
}

.no-border {
    border: 0px;
}

#input-production, #input-prospection, #input-gestion, #input-communication {
    width: 38px;
}