
/* ---- Fonts ---- */
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(julius.woff) format('woff');
}

@font-face {
  font-family: 'Text Me One';
  font-style: normal;
  font-weight: 400;
  src: local('Text Me One'), local('TextMeOne-Regular'), url(text_me_one.woff) format('woff');
}

/* ---- Generic ---- */

body {
    margin-left: 0px;
    font-family: Helvetica, sans-serif;
    background: url("bg.jpg") fixed bottom right no-repeat;
}

h1 { font-family: 'Julius Sans One'; }
h2 {
    font-family: 'Text Me One';
    margin-bottom: 3px;
}
li { padding: 3px 0px; }
a { color: inherit; }

/* --- Default design for table --- */
table {
    margin: 12px auto;
    border-collapse: collapse;
}
tr { background-color: white; }

th, td {
    padding: 5px 12px;
    border-bottom: solid #CCCCCC 1px;
    text-align: center;
}

/* --- This style for buttons comes from bootstrap --- */
input[type=submit] {
    padding: 4px 9px;
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%);
    background: -webkit-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%);
    background: -o-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%);
    background: -ms-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%);
    background: linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%);
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #CFCFCF;
    color: #505050;
    cursor: pointer;
    min-height: 10px;
    min-width: 90px;
    white-space: nowrap;
}

input[type=submit]:hover {
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #B7B7B7 100%);
    background-image: -webkit-linear-gradient(center top , #FFFFFF 0%, #B7B7B7 100%);
    background-image: -o-linear-gradient(center top , #FFFFFF 0%, #B7B7B7 100%);
    background-image: -ms-linear-gradient(center top , #FFFFFF 0%, #B7B7B7 100%);
    border: 1px solid #848484;
}

/* ---- The Left Panel ---- */
#panel {
    position: fixed;
    top: 0px;
    bottom: 0px;
    max-width: 202px;
    border-right: solid #CCC 1px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
    background: white;
}

#panel a {
    text-decoration: none;
}

#panel header h1 {
    margin: 12px;
}


/* ---- Menu in the Left Panel ---- */
#menu { margin: 0px 0px 0px 12px; }
menu {
    list-style-type: none;
    padding-left: 0px;
}

.submenu li {
    color: #888;
    font-size: large;
    font-family: Verdana, sans-serif;
    border-left: solid #888 1px;
    padding-left: 12px;
    margin-left: 3px;
}

.submenu li:hover {
    color: #DDD;
    border-color: #DDD;
}

/* ---- Footer in the Left Panel ---- */
#panel footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: #888;
    font-style: italic;
    font-size: 11px;
    text-align: center;
    margin-top: 42px;
}

#panel footer a { font-weight: bold; }
#panel footer  a:hover { color: #CCC; }


/* ---- Content ---- */
#content {
    margin-left: 220px;
}


#content header {
    border-bottom: solid #CCC 1px;
    margin: 12px;
    padding-bottom: 6px;
}
#content header h1 { margin-bottom: 0px; }
#content header form {
    float: right;
    margin-left: 4px;
}

.box {    
    position: absolute;
    top: 25%;
    width: 80%;
    text-align: center;
}

.info, .error {
    color: #888888;
    background-color: #FBFBFB;
    border-radius: 5px;
    padding: 8px;
    border: solid 2px;
}

.info {
    border-color: green;
}

.error {
    border-color: red;
}

.message-confirm {
    margin: auto;
    padding: 12px;
    text-align: center;
    background: white;
    border: solid #CCCCCC 1px;
    box-shadow: 1px 1px 3px #444444;
    display: inline-block;
}
